@import 'vars';
@import 'product_style';

.center {
    padding: 0 calc(50% - 800px);
}

.top-bar {
    @include df_jcc;
    gap: 50%;
    background-color: black;

    &-item {
        display: flex;
        justify-content:space-around;
        align-items: center;
        gap: 25px;
        margin: 18px 16px 19px;
    }
}

.logo {
    margin-right: 41px;
}


header {
    margin-bottom: 65px;
    @include df_jcc_aic;
    background-color: #F1E4E6;
}

.main-pic {
    width: 50%;
}

.brand {
    color: $blackBG;
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;

    &-name {
        @include df_jcc_aic;
        gap: 15px;
        width: 50%;
    }

    &-name p {
        color: $blackBG;
        @include lato_700;
        font-size: 32px;
    }
}

.pink {
    color: $siteColor;
}

.content-menu {
    margin: 0 230px 96px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    
    &-menu span {
        color: $siteColor;
        font-size: 24px;
        font-weight: 700;
    }

    &-woman {
        background-image: url(./img/for_woman.svg);
        background-size: cover;
    }
    
    &-man {
        background-image: url(./img/for_man.svg);
        background-size: cover;
    }
    
    &-kids {
        background-image: url(./img/for_kids.svg);
        background-size: cover;
    }
    
    &-acc {
        background-image: url(./img/accesories.svg);
        background-size: cover;
        grid-column: 1 / 4;
    }
}

.content-menu a {
    display: block;
    padding: 105px 0;
    color: #FFF;
    @include lato_16_400;
    text-align: center;
    background-color: rgba(33, 22, 22, 0.60);
    background-blend-mode: multiply;
    transition: ease-in .2s;
}


.content-menu a:hover {
    opacity: 0.8;
}

.featured-header {
    margin-bottom: 5px;
    text-align: center;
    color: $blackBG;
    @include lato_400;
    font-size: 30px;
}

.featured-text {
    margin-bottom: 57px;
    text-align: center;
    color: #9F9F9F;
    @include lato_14_400;
}

.featured {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 230px 48px;
    row-gap: 25px;
    column-gap: 30px;

    &-item {
        background-color: #F8F8F8;
        background-size: cover;
    }

    &-item img {
        margin-bottom: 24px;
        width: 100%;
    }

    &-item__name {
        margin-left: 18px;
        color: #000;
        @include lato_14_400;
        text-decoration: underline;
        text-decoration-color: black;
        transition: all .2s ease-in;
    }
    
    &-item__name:hover {
        text-decoration-color: #F26376;
    }
    
    
    &-item__desc {
        margin: 12px 18px 18px;
        color: #5D5D5D;
        @include lato_14_300;
    }
    
    &-item__price {
        margin-bottom: 20px;
        margin-left: 18px;
        color: $siteColor;
        @include lato_16_400;
    }
    
}

.browse-bar {
    @include df_jcc;
    margin-bottom: 95px;
}

.browse-button {
    display: block;
    padding: 14px 39px 15px;
    color: $siteColor;
    @include lato_16_400;
    border: 1px solid $siteColor;
    transition: ease-in .3s;
}

.browse-button:hover {
    background-color: $siteColor;
    color: #faf6f7;
}

.advantage {
    @include df_jcc;
    background-color: $blackBG;
    padding: 103px 0;

    &-item {
        display: flex;;
        align-items: center;
        flex-direction: column;
        width: 360px;
        margin: 0 16px;
    }
}

.advantage-item__pic {
    @include df_jcc;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
}

.advantage-item__title {
    color: #FBFBFB;
    @include lato_20_400;
    margin-bottom: 16px;
}

.advantage-item__desc {
    color: #FBFBFB;
    text-align: center;
    @include lato_14_300;
}

.subscribe-block {
    z-index: 1;
    position: relative;
    @include df_jcc;
    gap: 223px;
    padding-top: 97px;
    padding-bottom: 126px;
    background-repeat: no-repeat;
    background-size: cover;

    &__item {
        z-index: 1;
        @include df_jcc_aic;
        text-align: center;
        flex-direction: column;
    }

    &__item span {
        font-style: italic;
    }

    &__title {
        color: $blackBG;
        text-align: center;
        @include lato_700;
        font-size: 24px;
        line-height: 167.2%; 
    }

    &__text {
        margin-bottom: 32px;
        color: $blackBG;
        @include lato_400;
        font-size: 18px;
        line-height: 167.2%;
    }
}

.subscribe-block .background-tint {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(./img/subscribe_bg.png) no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
}

.subscriber-text {
    width: 360px;
    margin-top: 30px;
    color: $blackBG;
    text-align: center;
    @include lato_20_400;
}

.subscriber-email-input {
    @include df_jcc;
}

.input {
    height: 50px;
    border: none;
}

.subscriber-email {
    padding: 0 22px;
    width: 256px;
    border-radius: 25px 0 0 25px;
    background: #E1E1E1;
    color: $blackBG;
    @include lato_14_400;
}

.subscriber-email-button {
    width: 100px;
    background-color: $siteColor;
    color: #FFF;
    text-align: center;
    @include lato_14_400;
    border-radius: 0 25px 25px 0;
    transition: ease-in .3s;
}

.subscriber-email-button:hover {
    border: 2px solid $siteColor;
    background-color: transparent;
    color: $siteColor;
    cursor: pointer;
    font-weight: 600;
}

.footer {
    @include df_jcc;
    gap: 665px;
    padding-top: 30px;
    background-color: $blackBG;;
}

.rights {
    margin-bottom: 30px;
    color: #FBFBFB;
    @include lato_16_400;
    height: 32px;
    line-height:32px;
}

.footer-img-block {
    @include df_jcc;
    gap: 8px;

    &__link {
        @include df_jcc_aic;
        background-color: #fff;
        width: 32px;
        height: 32px;
        transition: ease-in 0.2s;
    }

    &__link:hover {
        background-color: $siteColor;
        border: 1px solid #fff;
    }

    &__link:hover img{
        filter: invert(100%) sepia(0%) saturate(1104%) hue-rotate(78deg) brightness(115%) contrast(100%);
    }
}

@media(max-width: 1439px) {

    .top-bar {
        padding: 0;
    }

    .content-menu {
        margin: 0 16px 96px;
        gap: 20px;
    }

    .brand-bar {
        padding-left: 63px;
        padding-right: 16px;
    }

    .brand-name p {
        font-size: 24px;
    }
    
    .brand {
        font-size: 44px;
    }

    .featured {
        grid-template-columns: 1fr 1fr;
        margin: 0 16px 48px;
    }

    .content-menu a {
        padding: 56px 0;
    }

    .subscribe-block {
        gap: 59px;
    }

    .rights {
        font-size: 12px;
    }

    
}

@media(max-width: 1023px) {

    .subscribe-block, .advantage {
        flex-direction: column;
        align-items: center;
    }

    .advantage {
        padding: 48px 0 64px;
    }

    .advantage-item {
        margin-bottom: 46px;
    }

    .subscribe-block {
        padding: 64px 0 140px;
    }

    .subscriber-text {
        margin-bottom: 48px;
    }

    .footer {
        gap: 350px;
    }
}

@media(max-width: 767px) {

    .user, .chart {
        display: none;
    }

    .main-pic {
        display: none;
    }

    .brand-name {
        margin: 148px 0;
        width: 100%;
    }

    .brand-name p {
        font-size: 20px;
    }

    .brand {
        font-size: 38px;
    }

    .brand-bar {
        height: 61px;
        width: 12px;
    }

    .content-menu {
        position: relative;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .content-menu a {
        height: 247px;
        padding: 100px 0;
    }
    .content-menu-acc {
        background-image: url(./img/accesories.svg);
        background-size: cover;
        grid-column: 1 / 1;
    }

    .featured {
        grid-template-columns: 1fr;
        row-gap: 25px;
    }

    .advantage-item__pic {
        margin-bottom: 18px;
    }

    .subscriber-text {
        font-size: 18px;
    }

    .subscribe-text {
        font-size: 14px;
    }

    .rights {
        margin-bottom: 8px;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 47px;
        justify-content: center;
        align-items: center;
    }

}